@import 'normalize.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;

}
.container {   
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.cicle{
    width: 200px;
    height: 200px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(109,109,190,1) 0%, rgba(0,212,255,1) 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    position: absolute;
}

.cicle1 {
    top: 4rem;
    left: 0;
  
}

.cicle2 {
    bottom: 4rem;
    right: 0;
}


 

// Card
.card {
    position: relative;
    width:340px;
    height:520px;
    // background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid #ffffff59;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:10%;
}

.chip{
    width: 5rem;
    padding: 10px 16px;
}

.cookie {
    width: 30px;
    height: 30px;
    margin-top:8px;
    margin-right: 8px;
    border-top: 3px solid green ;
    border-right: 3px solid green;

    h4{
        position:absolute;
        top: 0;
        right: 16px;
    }
}

// body

.body {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .woori {
        width: 5rem;
        padding: 8px;
    }

    h3 {
        font-size: 1.2rem;
        color:#ffffff59

    }
    h4 {
        font-size: 1.6rem;
        color: #3287e9;
        font-family: 'Courier New', Courier, monospace;
    }

    p {
        font-size: 1.4rem;
        color:#ffffff59;
        text-align: center;
    }

}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}
.mastercardIcon{
    width: 3rem;
    margin-bottom: 16px;
    margin-left: 12px;

}
.bankingIcon {
    width: 3rem;
    margin-bottom: 16px;
    margin-right: 12px;

}

.btn-block  {
    position: absolute;
    bottom: 10px;


    button{
        margin: 0 1rem
    }
}

@media (min-width: 512px) {
    // .cicle1 {
    //     top: 4rem;
    //     left: 33%;
      
    // }
    
    // .cicle2 {
    //     bottom: 4rem;
    //     right: 33%;
    // }
    .container {
        width: 500px;
    }

}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .cicle1{
        top: 10rem;
        left: 20%;
    }
  

    .cicle2 {
        bottom: 10rem;
        right: 20%;
    }

    .btn-block {
        bottom: 150px;
    }
}

